.type-animation::before,
.type-animation::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
}
.type-animation::before {
    background: #fff;
    animation: typewartier 1.4s ease forwards;
    /* animation-delay: 2s; */
}
.type-animation::after{
    animation: removeAFter 1.4s ease forwards;
    /* animation-delay: 2s; */
}


@keyframes typewartier{
  to{
      transform: translate(100%,0);
  }

  
}
@keyframes removeAFter{
  100%{
      content: none;
  }
}