@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

*{
  margin-top: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Inter', sans-serif;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}
.conntainer{
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y:scroll ;
  

}
h1{
  position: relative;
  font-size: 50px;
}
p{
  margin: 0;
  margin-bottom: 5px;
  transform: translate(0,-29px);
  font-size: 20px;
}
section{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}
/* handel hi section */
.hi>div>h1:nth-child(1){
  margin: 0;
}



/* handel who i am section */







/* hendel my skills section */

.my-skills>p:nth-child(4){
  margin-bottom: 45px;
}
.my-skills>p:nth-child(5)>img{
  width: 120px;
  height: 100px;
  margin-top: 20px;
  margin-left: 40px;
}

/* hendel contact me */
.contact-me{
  background-color: #BDBDBD;
}
.contact-me>.type-animation::before {
  background: #BDBDBD;
}
.contact-me>*>.type-animation::before {
  background: #BDBDBD;
}
.contact-me>div {
  transform: translate(-81px, 0);
}