@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

*{
  margin-top: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Inter', sans-serif;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}
.conntainer{
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y:scroll ;
  

}
h1{
  position: relative;
  font-size: 50px;
}
p{
  transform: translate(0,-29px);
  font-size: 20px;
}
section{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}




/* handel who i am section */

.who-i-am>p{
  
}