/* welcome screen animation */
.displayNone {

    display: none;
}

#splashScreen {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    top: 50%;
    left: 0%;
}

.splash-screen-svg {
    position: absolute;
    transform: translate(-172px, -65px);
}
#svg-mohamed {
    margin: 50px;
    /* transform: scale(1.5); */
    stroke-dasharray: 837.1442260742188;
    stroke-dashoffset: 837.1442260742188;
    animation: sing 4s cubic-bezier(0.4, 0, 1, 1), disap 2s ease 1.5s;
    animation-fill-mode: forwards;
}

#svg-hossam {
    stroke-dasharray: 630.7134399414062;
    stroke-dashoffset: 630.7134399414062;
    animation: sing 4s cubic-bezier(0.4, 0, 1, 1), disap 2s ease 1.5s;
    animation-fill-mode: forwards;

}

#svg-created {
    stroke-dasharray: 322.6040344238281;
    stroke-dashoffset: 322.6040344238281;
    animation: sing 3s cubic-bezier(0.4, 0, 1, 1), disap 2s ease 1.5s;
    animation-fill-mode: forwards;
}

#svg-by {
    stroke-dasharray: 322.6040344238281;
    stroke-dashoffset: 322.6040344238281;
    animation: sing 2.5s cubic-bezier(0.4, 0, 1, 1), disap 2s ease 1.5s;
    animation-fill-mode: forwards;
}

/* end welcome screen amimation */










/* navbar animation  */
h1::before,
h1::after {
    content: "";
    position: absolute;
    height: 88px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
h1::before{
    background: #fff;
    animation: typewartier 2s ease forwards;
}

ul{
    position: relative;
}
ul::before,
ul::after {
    content: "";
    position: absolute;
    height: 26px;
    width: 500px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
ul::before{
    background: #fff;
    animation: typewartier 2s ease forwards;
}
/* end nav bar animation  */



















/* who i am animation */
.who-i-am>h3::before,
.who-i-am>h3::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 336px;
    top: 3px;
}
p::before{
    background: #fff;
    animation: typewartier 1.5s ease forwards;
}.introduction-myself >div>h2{
    position: relative;
}
.introduction-myself >div>h2::before,
.introduction-myself >div>h2::after {
    content: "";
    position: absolute;
    right: 0;
    top: -9px;
    bottom: 0;
    left: 0;
    height: 336px;
    width: 500px;
    background: #fff;
    animation: typewartier 1.5s ease forwards;
    animation-delay: 0.5s
}

h2::before,
h3::before {
    background: #fff;
    animation: typewartier 1.5s ease forwards;
    animation-delay: 0.5s;
}
p::after,
h1::after,
h2::after,
h3::after {
    animation: removeAFter 1.5s ease forwards;
}
#rect{
    stroke-dasharray: 1823.3135986328125;
    stroke-dashoffset: 1823.3135986328125;
    animation: sing .7s ease;
    animation-fill-mode: forwards;
    animation-delay: 0.8s;
} 


/* end who i am animation */






@keyframes sing{
    to{
        stroke-dashoffset: 0;
    }
}
@keyframes disap{
    to{
        opacity: 0;
    }
}
@keyframes typewartier{
    to{
        left: 100%;
        width: 0px;
    }
    
}
@keyframes removeAFter{
    100%{
        content: none;
    }
}