* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}
body{
    width: 97%;
    height: 96vh;
    font-family: 'Inter', sans-serif;
}

p {
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    color: #4B4B4B;
}

/* styling header  */
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 22rem;
}

li:nth-child(1) {
    font-weight: 700;
}

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

/* end styling header */



/* start who i am section */
.introduction-myself{
    display: flex;
    justify-content: space-around;

}

.introduction-myself >div:nth-child(1){     
    margin-left: 64px;
}
.who-i-am{  
    margin-top: 111px;
}svg,
img {
    position: absolute;
}
.who-i-am-svg{
    z-index: -1;
    width: 387px;
    transform: translate(-18px, 0px);
}
h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
}

h3 {
    margin-top: 58px;
    transform: translate(0, 6px);
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */

    text-align: justify;
}
@media (min-width:1400px){
    .who-i-am{
        transform: translate(-41px, 0);
    }
}

/* end who i am section */


/* start what is my skills */
.what-is-my-skills{
    margin-top: 292px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.what-is-my-skills>img{
    width: 1096px;
    z-index: -1;
}
.what-is-my-skills>h2{
    transform: translate(-151px, 9px);
    width: 597px;
}
.what-is-my-skills>p{
    transform: translate(-6px, 7px);
    width: 900px;
}

/* end what  is my skills */