#splashScreen {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    top: 50%;
    left: 0%;
}


#svg-mohamed {
    margin: 50px;
    /* transform: scale(1.5); */
    stroke-dasharray: 837.1442260742188;
    stroke-dashoffset: 837.1442260742188;
    animation: sing 4s cubic-bezier(0.4, 0, 1, 1), disap 2s ease 1.5s;
    animation-fill-mode: forwards;
}

#svg-hossam {
    stroke-dasharray: 630.7134399414062;
    stroke-dashoffset: 630.7134399414062;
    animation: sing 4s cubic-bezier(0.4, 0, 1, 1), disap 2s ease 1.5s;
    animation-fill-mode: forwards;

}

#svg-created {
    stroke-dasharray: 322.6040344238281;
    stroke-dashoffset: 322.6040344238281;
    animation: sing 3s cubic-bezier(0.4, 0, 1, 1), disap 2s ease 1.5s;
    animation-fill-mode: forwards;
}

#svg-by {
    stroke-dasharray: 322.6040344238281;
    stroke-dashoffset: 322.6040344238281;
    animation: sing 2.5s cubic-bezier(0.4, 0, 1, 1), disap 2s ease 1.5s;
    animation-fill-mode: forwards;
}
@keyframes sing{
    to{
        stroke-dashoffset: 0;
    }
}
@keyframes disap{
    to{
        opacity: 0;
    }
}